---
layout: default
---

<div class="row g-5">
  <div class="col-md-8">

    {% if paginator.posts %}
      {% for post in paginator.posts %}
        <article class="blog-post">
          <a href="{{ post.url }}"><h2 class="blog-post-title mb-1">{{ post.title }}</h2></a>
          <p class="blog-post-meta">{% include post_meta.html post=post %}</p>
          {{ post.excerpt }}
        </article>
      {% endfor %}
    {% else %}
      <h1>{{ page.title }}</h1>
      {{ content }}
    {% endif %}

    {% if paginator.total_pages > 1 %}
      <nav aria-label="navigation paginator">
        <ul class="pagination justify-content-center">
          {% if paginator.previous_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Previous</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
          {% endif %}
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            {% elsif page == 1 %}
              <li class="page-item"><a class="page-link" href="{{ '/blog' | relative_url }}">{{ page }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2021</a></li>
          <li><a href="#">February 2021</a></li>
          <li><a href="#">January 2021</a></li>
          <li><a href="#">December 2020</a></li>
          <li><a href="#">November 2020</a></li>
          <li><a href="#">October 2020</a></li>
          <li><a href="#">September 2020</a></li>
          <li><a href="#">August 2020</a></li>
          <li><a href="#">July 2020</a></li>
          <li><a href="#">June 2020</a></li>
          <li><a href="#">May 2020</a></li>
          <li><a href="#">April 2020</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>